.verzender input {
	height: 100px;
	width: 500px;
}

.verzender .send {
	height: 50px;
	width: 50px;
}

.chatbox .chatbox_total {
	width: 50%;
	height: 70%;
	border-radius: 10px;
	border: 3px solid grey;
	background-color: #ededed;
}